<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="home.css">
    <title>www.techsquareroom.oficial</title>
</head>
<body>
    <div class="container-banner">
        <section>
        </section>
    </div>
    <div class="container-inicial">
        <div class="container-paragraph">
            <h1> Tech Square Room 1º CTF Web Hacking disponivel no github </h1>
            <p> Hojé é dia 03 de setembro 2025 dia de comemoração do 1º CTF da Square Room. Um laboratório de tecnologia em Sorocaba.
                Desenvolvida por Caio Vicente Ramos, o criador da sala de desenvolvimento de softwares. Aonde nosso propósito
                e levar o conhecimento a todos. Nosso laboratório é pequeno, mas a nossa vontade é grande ao explorar o maximo de 
                tecnologias possiveis.
            </p>
            <p> O CTF foi criado por Caio Vicente Ramos nele foi executara um codigo javascript fora do motor V8 da google, como assim.
                Deixe-me explicar melhor este CTF. Ele foi criado apartir de um servidor NodeJs. Como mini arquitetura MVC bem basica,
                neste servidor foi configurado um usuario e senha para sua autenticação. O objetivo é descobrir uma maneira de passar
                por essa barricada, usando ferramentas do nosso github. Uma delas segue o <a href="https://github.com/programador001dat/Encrypted_SimplePython" target="_blank">link</a>
                assim seu desafio será resolvido com facilidade, e aonde acesso o desafio web hacking, ele está disponivél para download.
                <a href="https://github.com/programador001dat/MyFirstCTF">aqui</a>.
            </p>
            <div class="context-image">
                <a class="image-context" href="CTF_WebHacking.jpg" target="_blank" title="1º CTF Web hacking da SquareRoom">
                    <img src="CTF_WebHacking.jpg" width="200" height="200" title="1º CTF Web hacking da SquareRoom">
                </a>
                <p>
                    O CTF Web Hacking está disponivel no <a href="https://github.com/programador001dat/MyFirstCTF">github</a>
                    Este é um CTF completo e facil, após baixa-lo precisara do NodeJs instalado, e assim executar em um terminal
                    node .\server.js e o servidor será inicializado. Nosso 1º CTF estamos muitos felizes pelo o desenvolvimento 
                    equipe.
                </p>
                <h2>Square Room aonde acontece os desenvolvimento Tech</h2>
                <div class="context-labority">
                    <a href="Hard.jpg" target="_blank">
                        <img src="Hard.jpg" alt="image not found" width="200px" height="200px" title="computador da placa mae Intel H61 ">
                    </a>   
                    <a href="CPUimage.jpg" target="_blank">
                        <img src="CPUimage.jpg" alt="image not found" width="200px" height="200px" title="notebook Acer Aspire 5">
                    </a>     
                    <a href="SquareRoomTech.jpg" target="_blank">
                        <img src="SquareRoomTech.jpg" alt="image not found" width="200px" height="200px" title="Develop">
                    </a>
                    <p class="context-link-p">nossa sala de desenvolvimento software</p> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-footer">
        <footer>
            <address>
                Agradecemos a colaboração de todos os membros<br> 
                da SquareRoom Tecnologia, estamos completando 1 ano<br>
                de desenvolvimento focado em linguagem de programação.<br>
                <a href="http://github.com/programador001dat" target="_blank" title="we repository">github<i class="fa fa-github"></i></a>
            </address>
        </footer>
        <p>
            squareroomtech@2025
        </p>
    </div>
</body>
</html>