<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="programador001dat">
    <title>login</title>
    <link rel="stylesheet" href="logon.css"> <!-- I&Luo@v1euY1ooua -->
</head>
<body>
    <div class="banner"></div>
    <div class="container-initial">
        <div class="container-desktop">
            <div class="container-form">
                <div class="renderezide">
                    <form class="container-form" action="/login" method="post">
                        <h3>Welcome to Square-Room Tech</h3>
                        <label for="username">username</label>
                        <input type="nome" name="username" placeholder="username" title="username" required>
                        <label for="password">password</label>
                        <input type="password" name="password" placeholder="password" title="password" required>
                        <button type="submit"><a>Login</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container-footer">
            <footer>
                <p>copyright@2025</p>
            </footer>
        </div>    
    </div>
</body>
</html>